
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Available roles for system</h2>
@Html.ActionLink("Create new Role", "Create")

<table class="table">
    <tr>
        <th class="c">
            Role Name
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="c">
                @item.Name
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = @item.Id })
            </td>
        </tr>
    }
</table>

